.banner_left{
    position: fixed;
    top: 85px;
    width: 12.4%;
    left: 0;
    bottom: 0;
    overflow-y:scroll;
    background-color: var(--color-bgc);
}

.banner_left::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}


.banner_left img {
    width: 100%;
}

.banner_left img:hover {
    cursor: pointer;
    border: 1px solid #888888;
}