.image{ 
    
    width: 75%;
    height: 80%;
    margin: 0 auto;
    position: relative;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 3px;
}

.image img{
    width: 100%;
    margin: 0 auto;
    margin-top: 85px;
    transition: all 1s linear;
    
}